<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Log</title>

      <!-- JQuery -->
      <script src="/js/jquery-2.1.4.min.js"></script>

      <!-- JQuery UI -->
      <script src="/js/jquery-ui.js"></script>
      <link href="/styles/jquery-ui.css" rel="stylesheet">

      <!-- JQuery Tags - TagThis -->
      <script src="/js/jquery.tagthis.js"></script>
      <link rel="stylesheet" href="/styles/jquery-tag-this.css">

      <script src="/js/form.js"></script>
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>

      {{{body}}}

  </body>
</html>
