{{> nav}}


<div class="chart">
    <h1 class="chart-title"></h1>
    <div>
        <canvas id="canvas"></canvas>
    </div>
</div>

<div class="info-display">
    <h1 class="info-display-title"></h1>

</div>

{{! Javascript }}
<script src="/js/display.js"></script>
