<div class="form">

  <ul>
    <li>
        Date:</br> <input></input>
    </li>
    <li>
        Start Time:</br> <input></input>
    </li>
    <li>
        End Time:</br> <input></input>
    </li>
    <li>
        Category:</br> <input></input>
    </li>
    <li>
        Sub-Category:</br> <input></input>
    </li>
    <li>
        Tags:</br> <input></input>
    </li>
  </ul>

  <input type="submit">

</div>
