

<form id="form" autocomplete="off">

    <h1> LOG </h1>

  <ul>
    <li>
        DATE</br> <input id="date"></input>
    </li>
    <li id>
        START</br> <input id="starttime">
    </br>END</br> <input id="endtime"></input>
    </li>
    <li>
        PROJECT</br> <input id="project"></input>
    </li>    
    <li>
        Notes:</br> <input id="notes"></input>
    </li>
    <li>
        Tags:</br> <input id="tags"></input>
    </li>


    <li>
        <input type="submit" id="submit">
    </li>
  </ul>

</form>
