

<form id="loginform" class="login" autocomplete="off">

  <ul class="login">
    <li>
        <input id="login"></input>
    </li>

    <li>
        <input type="submit" id="submit">
    </li>
  </ul>

</form>
