
.entryid {
    color: red;
}

body {
    background-color: #f5f5f5;
    font-family: Inconsolata, monospace, sans-serif;
    color: #303030;
    font-size: 11px;
}

h1 {
    margin: auto;
    text-align: center;
    border-bottom: 2px solid #4e5051;
    letter-spacing: 10px;
    margin-top: 25px;
    padding: 5px 25px;
    width: 50px;
    font-size: 1.5em;
}

form {
    margin-top: 2%;
    width: 400px;
    height: 325px;
    xborder: 1px solid white;
}

#form {
    display: none;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    color: #686868;
    font-size: 0.75em;
    text-align: center;
    margin: auto;
    width: 250px;
    padding: 25px 0px;
    letter-spacing: 3px;
}

li input {
    color: #101016;
    padding: 7px;
    margin: 10px 0;
    background-color :#f5f5f5;
    border: solid 2px #AFAFAF;
    transition: border 0.3s;
}

nav {
    width: 250px;

    overflow: hidden;
}

nav li {
    padding: 1rem;
    margin: 0;
    float: left;
    width: auto;
}

nav a {
    font-size: 11px;
    xtext-decoration: none;
    color: #bababa;
}

#date {
    font-family: Inconsolata, monospace, sans-serif;
    outline-width: 0;
    letter-spacing: 6px;
    text-align: center;
    width 10px;
    padding: 2px 0px;
    background-color :#f5f5f5;
    margin: 10px 0;
    border: none;
}

#starttime {
    font-family: Inconsolata, monospace, sans-serif;
    width: 25px;
    outline-width: 0;
    background-color :#f5f5f5;
    font-size: 12px;
    border: none;
}

#endtime {
    font-family: Inconsolata, monospace, sans-serif;
    width: 25px;
    outline-width: 0;
    background-color :#f5f5f5;
    font-size: 12px;
    border: none;
}

#project {
    font-family: Inconsolata, monospace, sans-serif;
    width: 145px;
    outline-width: 0;
    background-color :#f5f5f5;
    font-size: 12px;
    border: none;
}

#notes {
    font-family: Inconsolata, monospace, sans-serif;
    max-width: 365px;
    outline-width: 0;
    background-color :#f5f5f5;
    width: 365px;
    height: 50px;
}

#tags {
    font-family: Inconsolata, monospace, sans-serif;
    background-color :#f5f5f5;
    outline-width: 0;
}

input[type=submit] {
    font-family: Inconsolata, monospace, sans-serif;
    letter-spacing: 3px;
    padding:10px 20px;
    color: black;
    background-color :white;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
}

li .tag-this {
        margin: 50px 0;
}

/*      Entries     */

table {
    border-collapse: collapse;
}

thead {
    font-size: 12px;
}

table, th, td {
    border: 1px solid #bababa;
    padding: 4px;

}

.displayTable {
    padding-top: 25px;
}

.submitdiv {
    margin-top: 75px;
    width: 365px;
    50px;
}

#submit {
    font-size: 11px;
    width: 100px;
    border: 1px outset #bababa;
    background-color: white;
    margin-right: 7px;
    float: left;
}

#remove {
    font-size: 11px;
    width: 100px;
    border: 1px outset #bababa;
    background-color: white;
    float: left;
}

#numEntries {
    width: 25px;
}

#numEntriesSubmit {
    font-family: Inconsolata, monospace, sans-serif;
    letter-spacing: 3px;
    padding:5px 10px;
    color: black;
    background-color :white;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
}

/*      Tags     */

.tag-this {
    background-color :#f5f5f5;
    padding:5px;
    width:365px;
    height:150px;
    overflow-y: auto;
    margin: auto;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.tag-this .tag {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration:none;
    color: #101016;
    margin-right: 5px;
    margin-bottom:5px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size:13px;
    max-width: 90%;
    background-color :#f5f5f5;
    border: solid 1px #bababa;
}

.tag-this .tag button {
    font-weight: bold;
    color: #da2543;
    text-decoration:none;
    font-size: 11px;
    background: none;
    border: none;
    cursor: pointer;
}

.tag-this .tag span {
    padding:5px;
    word-wrap: break-word;
}

.tag-this input {
    padding: 6px;
    width:80px;
    margin:0px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 13px;
    border:none;
    background: transparent;
    color: #101016;
    margin-right:5px;
    margin-bottom:5px;
}

.tag-this div {
    display:block;
    float: left;
}

.tag-this .tag-this--clear {
    clear: both;
    width: 100%;
    height: 0px;
}

.tag-this .tag-this--invalid {
    /*background: #DF3645; */
    border: 1px dashed #AFAFAF;
    outline: white;
    color: #DF3645;
    border-radius: 5px;
    xoutline-color:#DF3645;
}
